@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg1: #1A232C;
  --bg2: #23252F;
  --text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.underline1 {
  position: relative;
  padding-bottom: 10px;
}

.underline1::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  bottom: 0; /* Position at the bottom */
  left: 20%; /* Start the border 20% from the left */
  width: 60%; /* Make the border 60% of the container's width */
  height: 2px; /* Border thickness */
  background-color: blue; /* Border color */
}